Мы создаем Interface для приложения U-COOK в стиле "Tinder для еды". Направленный на малый бизнес и самозанятых.
Когда ты пишешь код, будь на 100% уверен, что он будет работать.
Когда ты пишешь код, будь уверен, что не ломаешь ничего существующего.